/*
==========
Header
==========
*/

header {
  min-height: 100vh;

  .navber {
    background-color: $mideum-violet;
    width: 100%;
    padding: 10px 0px;

    .nav-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 70px;
      }
      .toggle-btn {
        font-size: 16px;
        transition: all 0.5s ease-in-out;
        font-weight: 700;
      }
      .rotate {
        transform: rotate(-90deg);
      }
    }
    .links-wrap {
      display: flex;
      flex-flow: column;
      margin-left: 5px;
      row-gap: 15px;
      height: 0px;
      overflow: hidden;
      transition: all 0.5s ease-in-out;

      ul:nth-child(1) {
        display: flex;
        flex-flow: column wrap;
        row-gap: 5px;
        margin-top: 10px;

        li a {
          color: $black;
          font-weight: 600;
        }
      }
      ul:nth-child(2) {
        display: flex;
        align-items: center;
        column-gap: 20px;

        .sreach-btn {
          font-size: 18px;
          color: $violet;
        }
        .iservise {
          padding: 8px 20px;
        }
      }
    }
    .show-links {
      height: 225px;
    }
  }
  .fixed-nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: $mideum-violet;
  }
}
.contact {
  display: flex;
  column-gap: 16px;
  li:nth-child(1) {
    a {
      color: $facebook;
    }
  }
  li:nth-child(3) {
    a {
      color: $lind-in;
    }
  }
  li:nth-child(2),
  :nth-child(4) {
    a {
      color: $violet;
    }
  }
}
@include media(768px) {
  header {
    .navber {
      padding: 15px 0px;

      .nav-header {
        img {
          width: 85px;
        }
      }
    }
  }
}

@include media(1440px) {
  header {
    .navber {
      background-color: transparent;
      padding: 22px 0px;

      .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .nav-header {
          img {
            width: 109px;
          }
          .toggle-btn {
            display: none;
          }
        }
        .links-wrap {
          flex-flow: row wrap;
          column-gap: 180px;
          margin-left: 0px;
          height: auto;
          overflow: auto;

          ul:first-child {
            margin-top: 0px;
            flex-flow: row wrap;
            align-items: center;
            column-gap: 41px;
          }
          ul:last-child {
            column-gap: 35px;
          }
        }
      }
    }
    .fixed-nav{
      background-color: $mideum-violet;
    }
  }
}

/* Main section */
main{
  min-height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  .main-content{
    p{
      margin: 15px 0px 20px 0px;
    }
    .btn-wrap{
      display: flex;
      column-gap: 15px;

      .loan-calculator{
        background-color: $white;
        border: 1px solid $violet;

        a{
          color: $violet;
        }
      }
    }
    .contact-wrap{
      margin-top: 70px;
      display: flex;
      column-gap: 20px;

      .phone{
        span:first-child{
          color: $violet;
        }
      }
    }
  }
}

@include media(768px) {
  main{
    .main-content{
      h1{
        display: flex;
        flex-flow: column wrap;
      }
      p{
        display: flex;
        flex-flow: column wrap;
        margin: 18px 0px 25px 0px;
      }
      .contact-wrap{
        margin-top: 110px;
        column-gap: 30px;
      }
    }
  }
}
@include media(768px) {
  main{
    .main-content{
      p{
        margin: 23px 0px 38px 0px;
      }
      .contact-wrap{
        margin-top: 166px;
        column-gap: 40px;
      }
    }
  }
}