@import "./fonts";

$white: #ffffff;
$black: #000000;
$gray: #999999;
$darkgray: #676767;
$thin-violet: #fef9fc;
$mideum-violet: #fce0ef;
$violet: #ed017f;
$facebook: #4b7fcd;
$lind-in: #4a71fb;

@mixin media($screen-size) {
  @media only screen and (min-width: $screen-size) {
    @content;
  }
}

/*
============
Global Style
============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Metropolis";
}
button {
  border: none;
  background: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  color: $black;
  font-weight: 700;
}
h1 {
  font-size: 34px;
  font-weight: 900;
}
h2 {
  font-size: 24px;
  margin-bottom: 16px;
}
h5 {
  font-size: 16px;
  font-weight: 600;
}
.container {
  max-width: 290px;
  margin: auto;
}
@include media(768px) {
  .container {
    max-width: 624px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 18px;
  }
  h5 {
    font-size: 18px;
  }
}
@include media(1440px) {
  .container {
    max-width: 1170px;
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 22px;
  }
}
/* 
============
Common class
============
*/
.btn {
  border: none;
  background-color: $violet;
  padding: 8px 16px;
  border-radius: 4px;

  a {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: $white;
  }
}
.common-pera-16 {
  font-size: 14px;
  font-weight: 400;
  color: $gray;
  line-height: 18px;
}
.common-pera-14,
a {
  font-size: 13px;
  color: $gray;
  font-weight: 400;
  line-height: 18px;
}
@include media(768px) {
  .btn {
    border: none;
    background-color: $violet;
    padding: 10px 18px;

    a {
      font-size: 12px;
    }
  }
  .common-pera-16 {
    font-size: 15px;
    line-height: 22px;
  }
  .common-pera-14,
  a {
    font-size: 14px;
    line-height: 22px;
  }
}
@include media(1440px) {
  .btn {
    padding: 13px 23px;
  }
  .common-pera-16 {
    font-size: 16px;
  }
}

@import "./header.scss";

/*
===============
Busness Partner
===============
*/
#busness-partner{
  padding: 40px 0px;
  background-color: $thin-violet;

  .container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    div:nth-child(1) {
      width: 193px;
    }
    div:nth-child(2) {
      width: 168px;
    }
    div:nth-child(3) {
      width: 186px;
    }
    div:nth-child(4) {
      width: 189px;
    }

    div{
      img{
        width: 100%;
      }
    }
  }
}

@include media(768px) {
  #busness-partner{
    padding: 50px 0px;
  }
}
@include media(1440px) {
  #busness-partner{
    padding: 70px 0px;
  }
}
@import "./glance";
@import "./our-services";
@import "./best-result";
/*
===========
Newsletter
===========
*/
#newsletter {
  padding: 50px 0px;
  background-color: $thin-violet;
  .container {
    .input-wrap {
      display: flex;
      flex-flow: row wrap;
      column-gap: 5px;
      margin-top: 20px;
      input {
        padding: 10px 12px;
        border: 1px solid $gray;
        border-radius: 4px;
        color: $gray;
      }
      input::placeholder {
        color: $gray;
      }
    }
  }
}
@include media(768px) {
  #newsletter {
    padding: 70px 0px;
    .container {
      text-align: center;
      p {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
      }
      .input-wrap {
        column-gap: 10px;
        margin-top: 25px;
        justify-content: center;
        input {
          padding: 12px 15px;
          width: 290px;
        }
      }
    }
  }
}
@include media(1440px) {
  #newsletter {
    padding: 108px 0px;
    .container {
      .input-wrap {
        margin-top: 34px;

        input {
          width: 343px;
        }
      }
    }
  }
}

@import "./footer";
